@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --h5:#08082A;
  --span:#FF5A09;
}

*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ox{
width: 1920px;
background-color:#f5f5f5;
}
.nav{
  width: 414px;
}
li,h5{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  list-style: none;
  color: var(--h5);
}
h1{
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: var(--h5);
}
.Titel{
  width: 552px;
}
h1 span{
  color:  var(--span);
}
p{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: var(--h5);
}