@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --h5:#08082A;
  --span:#FF5A09;
  --blue:#4ACF8C;
}

*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ox{
width: 1920px;
background-color:#f5f5f5;
}
.nav{
  width: 414px;
}
li,h5{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  list-style: none;
  color: var(--h5);
}
h1{
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: var(--h5);
}
.Titel{
  width: 552px;
}
h1 span{
  color:  var(--span);
}
p{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: var(--h5);
}
h3{
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
color: var(--h5);
}
.over::after{
  content: 'Why Choose us';
  position: absolute;
  top: -50px;
  padding: 20px 80px;
  border-radius: 20px;
  background-color: white;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: var(--h5);
  font-size: 20px;
}
.over::before{
  content: '';
  height: 160px;
  border: 1px solid #d4d4d8;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 25%;
}
.cardInfo{
  width: 510px;
  margin: 72px 111px 72px 79px ;
}
.red{
  color: var(--span);
}
.blue{
  color: var(--blue);
}
.green{
  background-color: var(--blue);
}
.oreng{
  background-color: var(--span);
}
h2{
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  color:  var(--h5);
}
.cardImg{
  width: 402px;
  height: 317px;
}
h4{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
.footerh2{
  color: white;
}
.button{
  background-color: white;
  color:  var(--h5);
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  padding: 23px 40px;
  margin-top: 77px;
}